{% extends 'partials/layout.njk' %}
{% block content %}
    <h1>Values</h1>
    <ol>
        <li>Work</li>
        <li>ethics</li>
        <li>bullshit</li>
        <li>text</li>
        <li>overhere</li>
    </ol>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/600px-Cat03.jpg">
{% endblock %}